<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/assets/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mini Monkey Mafia</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<script src="../static/js/index.js"></script>
<body>
    <header>
        <div class="logo"><a href="#"><img src="../static/assets/logo.png" alt=""></a></div>
        <div class="dropdown">
            <button onclick="drop()" class="dropbtn">≡</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#" class="link" >Home</a>
                <a href="#scarcity" class="link" >Scarcity</a>
                <a href="#roadmap" class="link" >Roadmap</a>
                <a href="https://opensea.io/collection/minimonkeymafia" class="link" target="_blank" rel="noopener noreferrer" >OpenSea</a>
            </div>
        </div>
        <div class="icons">
            <a href="https://twitter.com/MiniMonkeyMafia" class="link-icon" target="_blank" rel="noopener noreferrer"><img src="../static/assets/twitter2.png" alt=""></a>
            <a href="https://instagram.com/MiniMonkeyMafia" class="link-icon" target="_blank" rel="noopener noreferrer"><img src="../static/assets/instagram2.png" alt=""></a>
            <a href="https://discord.gg/jjE3SQfm7M" class="link-icon" target="_blank" rel="noopener noreferrer"><img src="../static/assets/discord2.png" alt=""></a>
        </div>
    </header>
    <div class="hero">
        <img src="../static/assets/logoGif.gif" alt="">
        <h2><span>WELCOME TO THE</span><br> MINI MONKEY MAFIA</h2>
        <p>We are an exclusive mafia of 5,000 monkeys going 🍌bananas🍌 <br/>in the deepest jungles of the Metaverse.</p>
        <br>
        <p>Adopting a Mini Monkey makes you a made member of the Mini Monkey <br> Mafia, and unlocks access to all of the member-only benefits.<br>Check out our roadmap for more info!</p>
        <a class="hero-button" href="https://opensea.io/collection/minimonkeymafia" target="_blank" rel="noopener noreferrer" >BUY NOW</a>
    </div>
    <div class="monkeys">
        <div class="overflow-container">
            <div class="flexible-container">
                <img src="../static/assets/monke7.png" alt="">
                <img src="../static/assets/monke6.png" alt="">
                <img src="../static/assets/monke5.png" alt="">
                <img src="../static/assets/monke4.png" alt="">
                <img src="../static/assets/monke3.png" alt="">
                <img src="../static/assets/monke2.png" alt="">
                <img src="../static/assets/monke1.png" alt="">

                <img src="../static/assets/monke7.png" alt="">
                <img src="../static/assets/monke6.png" alt="">
                <img src="../static/assets/monke5.png" alt="">
                <img src="../static/assets/monke4.png" alt="">
                <img src="../static/assets/monke3.png" alt="">
                <img src="../static/assets/monke2.png" alt="">
                <img src="../static/assets/monke1.png" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <h1><span>5,000</span><br>MINI MONKEYS</h1>
            <p>The "Mini Monkey Mafia" is a 🔥hot🔥 new online collectible series of 5,000 programmatically, randomly generated Monkey NFTs living in the dense jungles of the Ethereum blockchain. <br><br> These one of a kind Mini Monkeys were available to adopt on our site on 9/18 at just <span> 0.02 ETH </span>each (no bonding curves in sight!), and sold out in ~3 hours!</p>
            <a href="https://opensea.io/collection/minimonkeymafia" target="_blank" rel="noopener noreferrer" style="color:#FFFFFF; text-decoration:none" ><div class="special-button"><div class="special-style">Buy on OpenSea<span>&gt;</span></div></div></a>
        </div>
        <div>
            <img src="../static/assets/monkeCycle2.gif" alt="" class="blue-monkey" >
        </div>
    </div>
    <div class="row reverse">
        <div id="scarcity">
            <h1><span>PROPERTIES & SCARCITY</span></h1>
            <p>All 5,000 randomly assembled monkeys are totally unique and customized using an assortment of <span> 126 different </span>traits and accessories. <br><br>Differences can be spotted in the outfit, head, ears, mouth, eyes, fur & background. All monkeys are (obviously) great, but some are more rare than others! </p>
            <a href="https://monkeymafia.notion.site/Mini-Monkey-Mafia-f813bfbf207845b2bbc8aeb27cba6f7d" target="_blank" rel="noopener noreferrer" style="color:#FFFFFF; text-decoration:none" ><div class="special-button"><div class="special-style">Scarcity Details <span>&gt;</span></div></div></a>
        </div>
        <div>
            <img src="../static/assets/monkeMystery2.png" alt="" class="blue-monkey" >
        </div>
    </div>
    <div class="roadmap" id="roadmap">
        <div>
            <div>
                <h1>ROADMAP</h1>
            </div>
            <div>
                <h1>2021 Q2</h1>
                <p>- Designing & Developing Mini Monkey Mafia<br>
                    - Ideating Monkey NFT concept</p>
                <h1>2021 Q3</h1>
                <p>- Designing & Developing Mini Monkey Mafia<br>
                    - Monkey Mafia community rankings established (presale, early bird, etc.)<br>
                    - MMM official presale, and sale launch<br>
                    - 3 Mafia Families are revealed. Community split into 3 mobs battling for supremacy</p>
                <h1>2021 Q4</h1>
                <p>- Member-Exclusive Merch store unlocked, featuring Limited Edition tees, hoodies & hats<br>
                    - Breeding Baby Monkeys (Owners earn 1x FREE Baby Monkey NFT airdropped for every 2x Monkeys they own)<br>
                    - Establishing ranks within the mafia family based on engagement: Don, Underboss,  Capo, and Soldiers<br>
                    - Mafia Protection payments established: Mafia members earn back 50% of secondary profits.<br>
                    - Community wallets for each of the 3 factions established</p>
                <h1>2022 Q1</h1>
                <p>- Meka Monkey evolution collection is revealed<br>
                    - Puzzle containing the Mafia's secret code is unlocked, first 5 mafia members to solve it win: $1000, every item in the MMM store, and a free Mini Monkey</p>
                <h1>2022 Q2</h1>
                <p>- Official MonkeyMafia.co mini-games and MMO platform are unlocked! Play as your Monkey!</p>
            </div>
        </div>
    </div>
    <div class="welcome">
        <h1>THE OG <span>MAFIA</span></h1>
        <p>As dons of the Mini Monkey Mafia, we would be very pleased to welcome you to the family. It's an offer you can't refuse...</p>
        <div class="bosses">
            <span class="start"></span>
            <span class="start"></span>
            <div class="bosses-container">
                <div>
                    <img src="../static/assets/monkeMan2.png" alt="">
                    <a href="https://twitter.com/NFTinfo" target="_blank" rel="noopener noreferrer">
                    <br/><img src="../static/assets/twitter2.png" class="handle" alt=""></a>
                    <p2><span>Alex</span><br/>Lead Developer</p2> 
                </div>
                <div>
                    <img src="../static/assets/monkeWoman2.png" alt="">
                    <br/>
                    <a href="https://twitter.com/chr15tine_gu" target="_blank" rel="noopener noreferrer"><img src="../static/assets/twitter2.png" class="handle" alt=""></a>
                    <p2><span>Christine</span><br/>Lead Artist</p2>                </div>
            </div>

            <span class="end"></span>
            <span class="end"></span>
        </div>
    </div>
    <div class="newsletter">
        <h1>KEEP AN EYE OUT FOR <br><span>THE MAFIA</span></h1>
        <p>Join the MMM mailing list</p>
        <form action="https://script.google.com/macros/s/AKfycbyq_BggcGtBIseSiTP78GH32ZHgtMKN2WjjxjWVCOD8WTjPJnBBMRjmVCOT6JFDK2JCJQ/exec" method="post">
            <div class="email">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="submit" class="button" href="/success" value="Join">
            </div>
        </form>
    </div>
    <div class="monkeys">
        <div class="overflow-container">
            <div class="flexible-container">
                <img src="../static/assets/monke1.png" alt="">
                <img src="../static/assets/monke2.png" alt="">
                <img src="../static/assets/monke3.png" alt="">
                <img src="../static/assets/monke4.png" alt="">
                <img src="../static/assets/monke5.png" alt="">
                <img src="../static/assets/monke6.png" alt="">
                <img src="../static/assets/monke7.png" alt="">

                <img src="../static/assets/monke1.png" alt="">
                <img src="../static/assets/monke2.png" alt="">
                <img src="../static/assets/monke3.png" alt="">
                <img src="../static/assets/monke4.png" alt="">
                <img src="../static/assets/monke5.png" alt="">
                <img src="../static/assets/monke6.png" alt="">
                <img src="../static/assets/monke7.png" alt="">
            </div>
        </div>
    </div>
    <footer>
        <p>
            © Copyright 2021 - Mini Monkey Mafia
        </p>
    </footer>

</body>
</html>
