<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/assets/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mini Monkey Mafia</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<script src="../static/js/index.js"></script>
<body>
    <header>
        <div class="logo"><a href="https://monkeymafia.co/"><img src="../static/assets/logo.png" alt=""></a></div>
        <div class="dropdown">
            <button onclick="drop()" class="dropbtn">≡</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="https://monkeymafia.co/" class="link" >Home</a>
                <a href="https://monkeymafia.co/#scarcity" class="link" >Scarcity</a>
                <a href="https://monkeymafia.co/#roadmap" class="link" >Roadmap</a>
                <a href="https://opensea.io/collection/monkeymafia" class="link" target="_blank" rel="noopener noreferrer" >OpenSea</a>
            </div>
        </div>
        <div class="icons">
            <a href="https://twitter.com/MiniMonkeyMafia" class="link-icon"><img src="../static/assets/twitter2.png" alt=""></a>
            <a href="https://instagram.com/MiniMonkeyMafia" class="link-icon"><img src="../static/assets/instagram2.png" alt=""></a>
            <a href="https://discord.gg/jjE3SQfm7M" class="link-icon"><img src="../static/assets/discord2.png" alt=""></a>
        </div>
    </header>
    <div class="welcome">
        <h1><span>SUCCESS!</span></h1>
        <p>Welcome to the family my friend. You've proven your loyalty, taken the oath of Omertà, and are now officially on your way to becoming a made-monkey of the Mini Monkey Mafia.</p>
    </div>
</body>
</html>